@import "tailwindcss";

@theme {
  --animate-toast-in: toast-in 0.3s ease-out;

  @keyframes toast-in {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
